@model IEnumerable<CourseProject.DAL.Entity.Feedback>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FeedbackUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FeedbackText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NameSurname)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FeedbackUrl)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FeedbackText)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NameSurname)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.FeedbackId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.FeedbackId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.FeedbackId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
