@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    string pStatusa = "";
    string pStatusb = "";
    string pStatusc = "";
    string pStatusd = "";
    switch (ViewBag.profileStatus)
    {
        case 1:
            pStatusa = "active";
            break;
        case 2:
            pStatusb = "active";
            break;
        case 3:
            pStatusc = "active";
            break;
        case 4:
            pStatusd = "active";
            break;
       
    }

}

<div class="profile">
    <div class="order-pro">
        <div class="pro-img">
            <a href="javascript:void(0)">
                <img src="~/webside/img/testimonial/testi-01.png" class="img-fluid" alt="testi-01">
            </a>
        </div>
        <div class="order-name">
            <h4>Miranda joy</h4>
            <span>Joined April 06, 2022</span>
        </div>
    </div>
    <div class="order-his-page">
        <ul class="profile-ul">
            <li class="profile-li">
                <a asp-controller="Home" asp-action="ProfileOrders" class="@pStatusa">
                    <span>Siparişler</span>
                   
                </a>
            </li>
            <li class="profile-li">
                <a asp-controller="Home" asp-action="Profile" class="@pStatusb">Profile</a>
            </li>
            <li class="profile-li">
                <a asp-controller="Home" asp-action="ProfileAddress" class="@pStatusc">Adres</a>
            </li>
          
            <li class="profile-li">
                <a asp-controller="Home" asp-action="ProfilePassword" class="@pStatusd">
                    <span>Şifre değiştir</span>
                </a>
            </li>

            <li class="profile-li">
                <a 
                    onclick="Signout()">
                    <span>Çıkış yap</span>
                </a>
            </li>
        </ul>
    </div>
</div>

<script>
    function Signout() {
        Swal.fire({
            title: "Dikkat!",
            text: "Profilden çıkış yapılıyor, onaylıyor musunuz?",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Evet, çıkış yap!",
            cancelButtonText: "İptal et"
        }).then((result) => {
            if (result.isConfirmed) {
                Swal.fire({
                    title: "Çıkış yapıldı!",
                    text: "Başarıyla çıkış yaptınız.",
                    icon: "success"
                }).then(() => {
                    window.location.href = '@Url.Action("Logout", "Home")';
                });
            }
        });
    }
</script>